<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create article</title>
    {% load static %}
    <link rel="stylesheet" target="_blank" href="{% static 'css/base.css' %}">
</head>
<body>
    <form action="/news/create/" method="post">
        {% csrf_token %}
        <label for="title">Title - </label>
        <input type="text" id="title" name="title">
        <hr>
        <label for="text">Text - </label>
        <input type="text" id="text" name="text">
        <br>
        <br>
        <input type="submit" value="Add article">
    </form>
    <a href="/news/">Back to news page</a>
</body>
</html>
