{% load static %}
<link rel="stylesheet" target="_blank" href="{% static 'css/base.css' %}">
<h2>Hyper news</h2>
{% if search.show %}
    <h4>For search request "{{ search.request }}" found:</h4>
{% endif %}
{% for date, articles in date_grouped.items %}
    <h4>{{ date }}</h4>
    <ul>
        {% for article in articles %}
            <li><a href="/news/{{ article.link }}/">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}
<a href="/news/create/">Create article</a>
<hr>
<form action="/news/" method="get">
    <label for="search">Find:</label>
    <input name="q" id="search">
    <input type="submit" value="Find">
</form>
